{% extends "base.html" %}
{% block content %}
<div class="container disptweet">
    <div class="row">
      Rechercher:
    </div>
    <br>
    <div class="row">
      <div class="col-sm1">
      </div>
      <div class="col-sm1">
        <label>Prénom</label>
        {% for object in allfirstname %} 
          {{ object }}{% if not forloop.last %}{% endif %} 
          <br>
        {% endfor %}
      </div>
      <div class="col-sm1">
        <label>Nom</label>
        {% for object in alllastname %} 
          {{ object }}{% if not forloop.last %}{% endif %} 
          <br>
        {% endfor %}
      </div>
      <div class="col-sm">
        <label>email</label>
        {% for object in allemail %} 
          {{ user_dic.first_name }}{% if not forloop.last %}{% endif %} 
          <br>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}